<div class="flex flex-column pb4">
  <div class="w-100 tc">
    <img src="/logo_linuxpay.png" class="br-100 ba b--black-10 h4 w4 center"  alt="logo">
  </div>
  <div class="w-100 f7 tc code pd6">
      Grupo de usuario GNU/linux
      <br>
      Paysandú - Uruguay
  </div>
</div>