{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Linuxpay" "subtitle" "Grupo de usuarios de GNU/Linux de Paysandú") }}

{{ partial "short-text" (dict "heading" "¿Quiénes somos?" "text" "Somos una asociación civil sin fines de lucro que agrupa a usuarios GNU/Linux y que tiene por objetivo difundir y promover en nuestro medio la filosofía, uso y desarrollo del software libre.")}}

{{ partial "blog" . }}

{{ partial "footer" . }}
